
    body {
        background-color: rgb(30, 19, 44);
        /* The above is called a hex code.
           There are two other ways to do colors in CSS: rgb and common names */
        color: rgb(177, 146, 255);
        font-size: 22px;
        -webkit-font-smoothing: antialiased;
    }
    

    


  
     

 
  #toc a:hover {
    color: rgb(181, 34, 34);
  }


  a:hover {
    color: white;
  }


  #toc {
    position: fixed;
    bottom: 1em;
    right: 1em;
    background: white;
    color: #000;
    padding: 1em;
    font-size: 0.7em;
}


  