/* reset styles */

* {
  margin: 3px;
  padding: 3px;
}

/* begin styles */

body {
  background-color: rgb(174, 127, 255);
}

a,
a:visited {
  color: rgb(161, 20, 236);
}

a:hover {
  color: rgb(236, 117, 201);
}

.center {
  margin: auto;
  width: 50%;
}

img {
  width: 25vw;
}


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}




.hero-image {
  background-image: url("wings.jpg");
  /* The image used */
  background-color: #cccccc;
  /* Used if the image is unavailable */
  height: 500px;
  /* You must set a specified height */
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
}