.box {

    border-width: 1px;
    display: block;
    width: 400px;
    height: 400px;
    background-color: rgb(230, 88, 88);
    -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
    position: relative;
    top: 189px;
    left: 530px;
}

.box:hover {
    background-color: rgb(174, 10, 10);
    width: 600px;
    height: 600px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.circle {

    border-width: 1px;
    display: block;
    width: 176px;
    height: 197px;
    background-color: rgb(235, 224, 143);
    -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
    position: relative;
    top: -119px;
    left: 648px;
    border-radius: 50%;

}

.circle:hover {
    background-color: rgb(208, 157, 109);
    width: 200px;
    height: 200px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    border-radius: 50%
}

.circle:hover~.box {
    background-color: rgb(174, 10, 10);
    width: 600px;
    height: 600px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

body {
    animation: colorchange 1s linear infinite;
    -webkit-animation: colorchange 2s linear infinite;
}

@keyframes colorchange {
    0% {
        background: rgb(216, 49, 49);
    }

    25% {
        background: rgb(245, 209, 6);
    }

    50% {
        background: rgb(39, 39, 238);
    }

    75% {
        background: rgb(23, 117, 23);
    }

    100% {
        background: rgb(86, 16, 16);
    }
}

@-webkit-keyframes colorchange {
    0% {
        background: rgb(214, 70, 70);
    }

    25% {
        background: rgb(218, 218, 79);
    }

    50% {
        background: rgb(86, 86, 214);
    }

    75% {
        background: rgb(68, 218, 68);
    }

    100% {
        background: rgb(213, 68, 68);
    }
}